.topbar {
  background-color: #39397a;
  border-bottom: 1px solid rgba(255, 228, 196, 0.443);
  padding: 6px 0px;
}
.headerContainer {
  max-width: 1200px;
  height: 30px;
  margin: 0 auto;
  padding: 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-family: "Bigshot One";
  font-size: xx-large;
  margin-left: 20px;
  color: white;
  min-width: 283px;
}
.email {
  color: white;
  font-size: medium;
  font-style: italic;
  font-family: monospace;
  margin-right: 20px;
}
/* .list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  margin-right: 10px;
  gap: 2px;
}
.list a {
  text-decoration: none;
  color: white;
}

.list li {
  padding: 12px;
  border-radius: 30px;
}

.list li:hover {
  background-color: #2d2d72;
  text-decoration: none;
} */