label {
  display: block;
}

.searchTerms{
  width: 200px;
  height: 250px;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #e0e0e0;
  padding: 20px 10px;
  margin-top: 110px;
  position: sticky;
  top: 100px;
}

input, select {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  color: black;
  margin-bottom: 5px;
}
